.kitab_details{
    display: flex;
    gap: 20px;
}
.kitab_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.kitab_detail_img{
    position: relative;
    .fav_icon{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    img{
        width: 400px;
        height: 600px;
        object-fit: cover;
    }    
}