.kitablar {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.kitab {
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #c7c6c6;
}

.kitab_img img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}