* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.katalog_menu {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.katalog_box {
  position: absolute;    
  inset: 50px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}
/**<---KATEGORY--->*/
.main_katalog{width: 33.33%;}
.kat_name, .element_name {border-bottom: 1px solid #eee;}
.kat_name a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #333;
  transition: ease-in-out .3s;
  i{
    transition: ease-in-out .3s;
  }
}
.kat_name a:hover, .element_name a:hover{background-color: #eee;}
.kat_name a:hover i{transform: rotate(90deg);}

/**<---ALT CATEGORY--->*/
.alt_katalog{
  width: 33.33%;
  background-color: #eee;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox üçün */
  scrollbar-color: #888 #f1f1f1; /* Firefox üçün scroll rəngi */
}
.alt_kat_name {border-bottom: 1px solid #d4d3d3;}
.alt_kat_name a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #333;
  transition: ease-in-out .3s;
  i{
    transition: ease-in-out .3s;
  }
}
.alt_kat_name a:hover{background-color: #dbdada;}
.alt_kat_name a:hover i{transform: rotate(90deg);}

/**<---ELEMENTES--->*/
.elements{
  width: 33.33%;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox üçün */
  scrollbar-color: #888 #f1f1f1; /* Firefox üçün scroll rəngi */
}
.element_name a{
  display: block;
  padding: 10px 20px;
  color: #333;
  transition: ease-in-out .3s;
}