.mudericat{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
    margin: 50px 0;
}
.bas_herf{
    font: 600 2rem "Roboto", sans-serif;
    color: red;
    margin-bottom: 20px;
}
.muellifler{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.muellifler a{
    font: 500 1rem "Roboto", sans-serif;
    color: #333;
    width: fit-content;
}