.nav_bg{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}
nav{
    background-color: #eee;
    box-shadow: 2px 2px 10px #b8b6b6;
}
.nav_content{
    padding: 15px 0;
}
.logo img{
    width: 150px;
}