*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 90%;
  margin: auto;
}
main {
  padding-top: 80px;
}
.more_btn {
  text-align: center;
  margin: 20px 0;
}
.more_btn button {
  background: linear-gradient(
    135deg,
    #ff4d4d,
    #cc0000
  );
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.more_btn button:hover {
  opacity: 0.85;
  color: #000;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.wishlist_box, .sebet_box{min-height: 80vh;}
.clear_btn{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid red;
  border-radius: 20px;
  background-color: #eee;
  padding: 10px 20px;
  font: 600 1rem "Roboto", sans-serif;
  color: #000;
  cursor: pointer;
  transition: .3s;
}
.clear_btn:hover{background-color: #fff;}

@media (min-width: 768px) {
  .container {
    max-width: 1400px;
  }
}
